.home {
  min-height: 90vh;
  background: #526d82;
}

.set-camera {
  padding-top: 15px;
  align-items: center;
  justify-content: center;
  color: white;
  width: 300px;
  margin: 0 auto;
}

.camera {
  width: 224px;
  margin: 0 auto;
  margin-top: 25px;
}

video {
  width: 224px;
  height: 224px;
}

.result {
  width: 224px;
  margin: 0 auto;
  margin-top: 25px;
}

canvas {
  width: 224px;
  height: 224px;
  background-size: cover;
}

.button-container {
  width: 100px;
  margin: 0 auto;
}

button {
  bottom: 20px;
  left: 20px;

  appearance: none;
  border: none;
  outline: none;

  padding: 8px 16px;
  background-image: linear-gradient(to right, #27374d 50%, #ff4f84 50%);
  background-position: 0%;
  background-size: 200%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  transition: 0.4s;
  cursor: pointer;
}

button:hover {
  background-position: 100%;
}

#output_text {
  align-items: center;
  background-color: #27374d;
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(1, 1, 1, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  padding: 19px 24px;
  white-space: nowrap;
  width: 380px;
  margin: 5px auto;
}
